
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav-bar-col{
  padding-top: 20px;
  background-color: #D63F1F;
}
.header-col{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-image: url("http://www.osbativywild.com/img/site_specific/uploads/background-events-osb.jpg");
  .restaurant-name{
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }
.subtitle{
  font-family: 'Poppins', sans-serif;
}
}
.recipe-form{
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  h3{
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #566573;
  }
  h4{
    text-transform: uppercase;
    color: #566573;
  }
  label {
    text-transform: uppercase;
    padding-right: 10px;
  }
  input {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  textarea{
    margin-top: 10px;
  }
  .form-inLine{
    button{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .form-buttons{
    padding-top: 20px;
  }
}
// .recipe-list-items{
//   display: inline-block;
//   button{
//     float: right;
//   }
// }
.footer-col{
  padding-top: 20px;
  padding-bottom: 10px;
  color: #566573;
  text-align: center;
  font-size: 12px;
}
